# Build dirs
**/build/
**/out/
**/cmake-build-*/
**/bin/
**/obj/

# CMake
CMakeCache.txt
CMakeFiles/
CMakeScripts/
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps/

# Compiled Object files
*.o
*.obj
*.lo
*.slo

# Compiled Dynamic libraries
*.so
*.so.*
*.dylib
*.dll

# Compiled Static libraries
*.a
*.lai
*.la
*.lib

# Executables
*.exe
*.out
*.app

# Precompiled Headers
*.gch
*.pch

# Debug files
*.dSYM/
*.su
*.idb
*.pdb
*.ilk

# Visual Studio
.vs/
*.sln.docstates
*.vcxproj.user

# Vulkan compiled shaders
*.spv

# IDE
.vscode/
.idea/

# Qt / qmake generated
*.autosave
*.moc
*.qm
*.prl
moc_*.cpp
ui_*.h
qrc_*.cpp
**/.qmake.cache
**/.qmake.stash
*.pro.user*
CMakeLists.txt.user*

# Core dumps
core
!core/

# Editor temp / swap
*~
*.orig
*.rej
.#*
*.*#
*.flc
.*.swp
tags

# OS metadata
.DS_Store
.directory
Thumbs.db

# MinGW config
*.Debug
*.Release

# Python
*.pyc

# Misc
*_pch.h.cpp
*_resource.rc
*.res
*.rc
*.ncb
*.sdf
*.opensdf
*.vcxproj
*vcxproj.*
*.vcproj
*vcproj.*.*.user
*.ib_pdb_index
